@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700);

html {
  font: 16px/1.5 Titillium Web,Helvetica,Arial,sans-serif;
}

@media (min-width: 30rem) {

}

body {
  margin: 2rem 0 5rem;
  color: #333;
}

@media (min-width: 30rem) {
  body {
    margin-top: 5rem;
  }
}

a {
  color: #0074d9; /* From http://clrs.cc */
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  margin: 0 0 0.5rem -0.1rem /* align left edge */;
  line-height: 1;
  color: #111;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 30rem) {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

h1 a {
  color: inherit;
}

h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 30rem) {
  h2 {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

h3, h4, h5, h6 {
  margin-top: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
}

p, ul, ol, dl, table, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: .5rem 1rem;
  border-left: .25rem solid #ccc;
  color: #666;
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  margin: 1.5rem 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  top: -1px;
}

.container img, .container iframe {
  max-width: 100%;
}

.container img {
  margin: 0 auto;
  display: block;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #ccc;
}

pre, code {
  font-family: inherit;
  background-color: #eee;
}

pre {
  padding: .5rem 1rem;
  font-size: 0.8rem;
}

code {
  padding: .1rem .25rem;
}

pre > code {
  padding: 0;
}

.container {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 20px;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #efefef;
  text-align: center;
  font-size: 16px;
}

.topbar-menu>ul>li.menu-item-has-children .sub-menu,.lang-switcher .lang-dropdown,.navbar .main-navigation>.menu>li.menu-item-has-children .sub-menu,.navbar .main-navigation>.menu>li.has-mega-menu .mega-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 210px;
  margin-top: 10px;
  margin-left: -105px;
  padding: 16px 0;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 0 24px 0 rgba(0,0,0,0.15);
}

.topbar-menu>ul>li.menu-item-has-children .sub-menu li,.lang-switcher .lang-dropdown li,.navbar .main-navigation>.menu>li.menu-item-has-children .sub-menu li,.navbar .main-navigation>.menu>li.has-mega-menu .mega-menu li {
  margin: 0;
  padding: 0;
}

.topbar-menu>ul>li.menu-item-has-children .sub-menu li::before,.lang-switcher .lang-dropdown li::before,.navbar .main-navigation>.menu>li.menu-item-has-children .sub-menu li::before,.navbar .main-navigation>.menu>li.has-mega-menu .mega-menu li::before {
  display: none;
}

.topbar-menu>ul>li.menu-item-has-children .sub-menu li>a,.lang-switcher .lang-dropdown li>a,.navbar .main-navigation>.menu>li.menu-item-has-children .sub-menu li>a,.navbar .main-navigation>.menu>li.has-mega-menu .mega-menu li>a {
  display: block;
  padding: 3px 24px;
  border-left: 2px solid transparent;
  color: #706f6f;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.topbar-menu>ul>li.menu-item-has-children .sub-menu li>a>i,.lang-switcher .lang-dropdown li>a>i,.navbar .main-navigation>.menu>li.menu-item-has-children .sub-menu li>a>i,.navbar .main-navigation>.menu>li.has-mega-menu .mega-menu li>a>i {
  margin-top: -2px;
  margin-right: 3px;
  vertical-align: middle;
}

.topbar-menu>ul>li.menu-item-has-children .sub-menu li:hover>a,.lang-switcher .lang-dropdown li:hover>a,.navbar .main-navigation>.menu>li.menu-item-has-children .sub-menu li:hover>a,.navbar .main-navigation>.menu>li.has-mega-menu .mega-menu li:hover>a,.topbar-menu>ul>li.menu-item-has-children .sub-menu li.current>a,.lang-switcher .lang-dropdown li.current>a,.navbar .main-navigation>.menu>li.menu-item-has-children .sub-menu li.current>a,.navbar .main-navigation>.menu>li.has-mega-menu .mega-menu li.current>a,.topbar-menu>ul>li.menu-item-has-children .sub-menu li.current-menu-item>a,.lang-switcher .lang-dropdown li.current-menu-item>a,.navbar .main-navigation>.menu>li.menu-item-has-children .sub-menu li.current-menu-item>a,.navbar .main-navigation>.menu>li.has-mega-menu .mega-menu li.current-menu-item>a,.topbar-menu>ul>li.menu-item-has-children .sub-menu li.current_page_item>a,.lang-switcher .lang-dropdown li.current_page_item>a,.navbar .main-navigation>.menu>li.menu-item-has-children .sub-menu li.current_page_item>a,.navbar .main-navigation>.menu>li.has-mega-menu .mega-menu li.current_page_item>a,.topbar-menu>ul>li.menu-item-has-children .sub-menu li.current-menu-ancestor>a,.lang-switcher .lang-dropdown li.current-menu-ancestor>a,.navbar .main-navigation>.menu>li.menu-item-has-children .sub-menu li.current-menu-ancestor>a,.navbar .main-navigation>.menu>li.has-mega-menu .mega-menu li.current-menu-ancestor>a {
  padding-left: 29px;
  border-left-color: #086ad5;
  color: #086ad5;
}

.cart-dropdown::before,.topbar-menu>ul>li.menu-item-has-children>a::before,.lang-switcher::before,.navbar .main-navigation>.menu>li.menu-item-has-children::before,.navbar .main-navigation>.menu>li.has-mega-menu>a::before,.navbar-justified .main-navigation>.menu>li.menu-item-has-children::before,.navbar-justified .main-navigation>.menu>li.has-mega-menu>a::before {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-top: -6px;
  margin-left: -8px;
  border: solid transparent;
  border-width: 8px;
  border-bottom-color: #fff;
  content: '';
  z-index: 10;
  pointer-events: none;
}
